<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729973868550-aboovvmvqlmkbdj52u9mv1te9e5i9et0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729973868550-aboovvmvqlmkbdj52u9mv1te9e5i9et0</string>
	<key>API_KEY</key>
	<string>AIzaSyC9pCqUk1u51Q2sWdVdEBnLrZMrL02ocn4</string>
	<key>GCM_SENDER_ID</key>
	<string>729973868550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.ChuchulloSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-a8d13</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-a8d13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729973868550:ios:a06c9066dd28e1edc5db87</string>
</dict>
</plist>